[submodule "Assets/XMLib/XMLib.AM"]
	path = Assets/XMLib/XMLib.AM
	url = https://github.com/PxGame/XMLib.AM.git
	branch = master
[submodule "Assets/XMLib/XMLib.Common"]
	path = Assets/XMLib/XMLib.Common
	url = https://github.com/PxGame/XMLib.Common.git
	branch = master
[submodule "Assets/XMLib/XMLib.ThirdParty"]
	path = Assets/XMLib/XMLib.ThirdParty
	url = https://github.com/PxGame/XMLib.ThirdParty.git
	branch = master
